<h1>Comments by Marble</h1>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th> Marble Name</th>
      <th> Comments</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @comment.each do |c| %>
      <tr>
        <td><%= c.marble.marble_name %></td>
        <td><%= c.comment_text %></td>     
      </tr>
    <% end %>
  </tbody>
</table>
<td><strong><%= link_to 'New Comment', new_comment_path %><strong></td>




