<h1><span>MARBLE FAQ</span></h1>

<div class="n">

<p>These are some of the questions that we are frequently asked about marbles and Marble collecting.</p>

<p> </p>
<ul>
<li>What is the history of marbles and marble making?</li>
<li>What kind of marbles are there?</li>
<li>How are marbles made?</li>
<li>Are marbles still being made?</li>
<li>Where can I find marbles?</li>
<li>Can damaged marbles be repaired?</li>
<li>Are marbles being reproduced?</li>
<li>What games are played with marbles?</li>
<li>How can I learn more about marble collecting?</li>
</ul>

<div class="n"><h2><span>What is the history of marbles and marble making?</span></h2></div>

<br>Marbles, round spherical objects apparently used to play games, have been in existence for at least the past 3,000 years. They have been found in Egyptian pyramids and in North American indian mounds. An annual marble tournament has been played in Tinsley Green, England on Good Friday for at least the past 300 years. And the United States National Marbles Tournament is still held the third weekend of June in Wildwood, New Jersey.<br>

<br>The first marbles were round stones, nuts or fired pieces of clay and pottery. The Pretty Little Pocket Book, a Newberry book, reprinted by Isaiah Thomas in 1787, contains a verse on playing marbles. William Blake, in his book of prose, Songs of Innocence (1798), painted an illustration of three boys playing marbles for his poem "The Schoolboy". An original copy of this can still be viewed at the British Center for Art at Yale University. This is one of the earliest known illustrations of a glass marbles.<br>

<br>Glass marbles appear to have been introduced about 1860. Almost all antique handmade glass marbles were produced in Germany from the period 1860 to 1920. For a number of years, collectors believed that some handmade marbles, predominately swirl-type and end of day type, were produced in England. There has been no evidence uncovered to substantiate this belief. The belief arose because in the 1970s brightly colored swirls and end of days were purchased at various antique fairs and auctions in England. Subsequent investigation has shown that these were imported in the early 1900s from Germany. A very imited number of handmade marbles were also produced in the United States in the 1890-1915 time frame.<br>

<br>We do know that stone marbles were produced in Germany in at least the early 1800's. It appears that pottery marbles were produced in Germany and in England, during this time period. In <em>The Boys' Own Book</em>, published by Charles S. Francis, New York, 1829, the rating of different kinds of marbles was listed. The cheapest were the Dutch marbles of glazed clay, the next cheapest were those of yellow stone with spots of black or brown, and the best were pink stone with red veins. There is no mention of marbles was an American phenomenum. In an initial effort to compete with German imports, American manufacturers produced handmade marbles of inferior quality and duller colors. This allowed the Americans to compete based on price. But, their marbles were probably not well received by marble players, judging from the fact that mail order catalogues of the time feature German handmade marbles.<br>

<br>In 1905, Martin F. Christensen of Akron Ohio hit upon the idea to use a machine to produce "perfectly round spheres". This provided the Americans with the ability to compete with the Germans on two fronts. First, their marbles were superior for shooting. Because they were made by machine, and not by hand, they had no pontils. This greatly aided a marble shooter because he did not have to be concerned with the irregularities of a slightly out of round handmade marble with rough ends when trying to shoot a straight line. Second, the use of machinery allowed the Americans to greatly reduce their unit cost of production. Thus prices could be lowered and American marbles could compete with the Germans.<br>

<br>By the mid-1920's, the Germans were effectively out of the marble-making business. Almost all marbles were made by machine in the United States. The following two decades saw what is described as "The Golden Age of Machine Mades". The large marble makers of the time began to compete with each other to produce more unique designs and more colorful marbles each season. This period of time saw the introduction of Akro Agate corkscrews and Popeyes, Peltier National Line Rainbos, swirls and Peerless Patches, and the rise and fall of The Christensen Agate Company. By the Great Depression, Akro
Agate Company and Peltier Glass Company had become the largest producers of marbles. With the advent of the Great Depression, marble manufacturers became more cost conscious and brightly colored marbles began to disappear from the scene.<br>

<br>By World War II, Master Marble Company and Vitro Agate Company had entered the marble market. Akro Agate Company failed in 1951 and Vitro Agate Company and Marble King became the largest U.S. manufacturers, but faced stiff competition from Japanese imports of catseyes. By the 1960's, virtually all marbles were made in the Far East. During the 1970's, marble playing saw a steady decline, as video games became more popular and readily available. Also, marble making shifted to Mexico, with Vacor de Mexico becoming the largest marble manufacturer.<br>

<br>The 1970's and 1980's also saw the beginnings of a resurgence in hand made marble making by a few American craftmen.<br>

<br>Recently, marble playing has begun to exhibit a comeback, with sales of marbles in toy stores increasing by 40% over the past few years. Also, we have begun to enter a renaissance of hand made contemporary marbles, handcrafted by modern glassmakers.<br>

<div class="n"><div class="hr"></div></div>

<div class="n"><h2><span>What kind of marbles are there?</span></h2></div>

<br>Marbles can be categorized into three basic types: Handmade glass, Non-glass and Machine Made.<br>

<br>Handmade glass marbles were produced predominately in Germany in the period 1860-1914. There are now some marbles handmade by American glassworkers and craftsmen.<br>
Non-glass marbles include all of the clay and pottery types (including bennington and china), agates, steelies, wood, stone and paper mache.<br>

<br>Machine made marbles were produced exclusively in the United States from about 1910 to just after World War II. After World War II, the predominate marble was the catseye, which was produced in both the Far East and the U.S. Most marbles that are found in toy and hobby stores now, are produced in either Mexico or the Far East.<br>

<br>The marbles sought after by collectors are handmade marbles, some select non-glass marbles (mainly chinas) and American machine mades produced before 1960. The number of people collecting handmade contemporary marbles has been increasing during the past 5 years.<br>

<div class="n"><div class="hr"></div>

<div class="n"><h2><span>How are marbles made?</span></h2></div>

<br>There are several different processes by which marbles are made.<br>

<br>Handmade marbles can be made by one of two fundamental processes:<br>

<p style="margin: 5pt 0in; line-height: normal;"><span style="font-family: 'Verdana','sans-serif'; font-size: 8pt; mso-bidi-font-family: 'Times New Roman';"><p>Cane- or Rod- Cut</span></p>

<p style="margin: 5pt 0in 5pt 0.25in; line-height: normal;"><span style="font-family: 'Verdana','sans-serif'; font-size: 8pt; mso-bidi-font-family: 'Times New Roman';">A cane or rod of glass is made that contains smaller rods of glass (swirls), flecks of color (end of day), mica, or nothing (opaques and clearies). The of the rod is heated and then rounded in a hand held device. The marble is then cut off of the end of the rod with a glass scissors. As the end of the rod is rounded, it is twisted, producing the helix effect in the marble.</span></p>

<p style="margin: 5pt 0in; line-height: normal;"><span style="font-family: 'Verdana','sans-serif'; font-size: 8pt; mso-bidi-font-family: 'Times New Roman';"><p>Single Gather</span></p>

<p style="margin: 5pt 0in 5pt 0.25in; line-height: normal;"><span style="font-family: 'Verdana','sans-serif'; font-size: 8pt; mso-bidi-font-family: 'Times New Roman';">A glob of glass is built in successive layers on the end of a punty. The glob is rounded to produce the finished marble and then cut off the end of the punty.</span></p>

<br>Earthenware marbles are made by rounding bits of clay in device and then firing them in a kiln or oven. Little "eyes" or rough spots appear where the marbles touch each other, or the ground, in the kiln.<br>

<br>Machine made marbles are generally made by feeding a stream or streams of glass out of a furnace, through a small opening. As the stream emerges from the small opening, a rotating scissor cuts off the exact amount of glass necessary to produce a marble. This piece of molten glass falls onto a device which is counter-rotating helical rollers. The glob fits in the the groove between the two rollers. The rollers are inclined and as they rotate, the marble travels down the rollers and forms into a sphere. It is cool by the time it reaches the end and then falls off into a bucket.<br>

<div class="n"><div class="hr"></div>

<div class="n"><h2><span>Are marbles still being made?</span></h2></div>

<br>There are currently two U.S. manufacturers of machine made playing marbles still operating. They are JABO-Vitro of Reno OH and Marble King of Paden City WV.<br>

<br>The largest maker of machine made marbles in the world is Vacor de Mexico, which has an office in Kansas City MO. It is said to produce over 90% of the world's marbles.<br>

<br>Catseyes are still being produced by several plants in the Far East. I do not have the names of any of the plants.<br>

<br>On the handmade side, there are currently over 100 craftsmen in the U.S. producing marbles utilizing the cane or rod method of glass making. In addition, there are numerous lampworkers who are making small marbles, utilizing bead making techniques.<br>

<div class="n"><div class="hr"></div>

<div class="n"><h2><span>Where can I find marbles?</span></h2></div>

<br>Almost every child had marbles, so marbles can be found just about anywhere, from tag sales to antique shops.<br>

<br>If you are lucky and persevere, you can find marbles at tag sales, estate sales, flea markets, antique shows, antique malls and antique shops.<br>

<br>One of the best places to find marbles is at one of the many marble shows held around the country.<br>

<br>Another place is to contact marble dealers. Usually a show is the best place to find marble dealers.<br>

<br>The other place where you can find marbles is through auctions. You can find a large number of marbles on Ebay, although as with most things on Ebay you have to be careful that items are correctly and adequately described. There are also several marble auctioneers around the country. They conduct live auctions that also include online and phone bidding.<br>

<div class="n"><div class="hr"></div></div>

<div class="n"><h2><span>Can damaged marbles be repaired?</span></h2></div>

<br>Damage to a marble usually occurs when it is hit by another marble. After all, they were meant to be played with, right? The damage you usually find is chips (glass missing), flakes (shallow chips), moons (partial glass missing), subsurface moons (no glass missing), roughness and haziness.<br>

<br>>Roughness and haziness can be removed by a light buff. This takes off just the surface layer of glass. Generally, the pontil remains intact. Roughness and haziness can also be covered up by a coating. This can range from clear nail polish to polymers.<br>

<br>Chips, flakes, moons and subsurface moons can only be removed by polishing. This involves taking off a deeper layer of glass. If you want the marble to remain round, you have to remove the pontils.Chips and flakes can also be filled with polymers.<br>

<br>Collectors are divided on whether or not marbles should be polished. Purists feel that you should never work on the surface of a marble. Other collectors feel that it is ok to work on a marble, in order to make it more viewable.<br>

<br>One thing is certain. A polished or repaired marble is worth far less than a Mint example. The amount of depreciation is far greater for a machine made marble than for a handmade marble.<br>

<div class="n"><div class="hr"></div>

<div class="n"><h2><span>Are marbles being reproduced?</span></h2></div>

<br>Marbles have been reproduced since at least the late 1970's.<br>

<div class="n"><div class="hr"></div></div>

<div class="n"><h2><span>What games are played with marbles?</span></h2></div>

<br>There are numerous games that are played with marbles. These fall into two categories: Board games played with marbles as game pieces and "Street or Playground Games" where the marbles are the main piece and the object of play.<br>

<br>The National Marbles Tournament is held each year on Father's Day weekend in Wildwood NJ. This tournament has been held each year since 1922. The local tournament, which had been a rite of spring in communities around the country, has begun to make a come-back.<br>

<div class="n"><div class="hr"></div></div>

<div class="n"><h2><span>How can I learn more about marble collecting?</span></h2></div>
<div class="n"><p style="margin: 5pt 0in; line-height: normal;"><span style="font-family: 'Verdana','sans-serif'; font-size: 8pt; mso-bidi-font-family: 'Times New Roman';"></span></p>

<br>The next thing you should do is <span style="color: blue;">join one of the marble clubs</span></a>, chat with other marble collectors, or visit one of the on-line forums.<br>

<br>Finally, the best way to learn about marbles is handle them. Get to know them. Visit a marble show, if there is one in your area, or buy an identification book and take out your jars of marbles and start looking at them.<br>