<h1>MARBLE GRADING GUIDE</h1>

<p>
The grading of condition is very subjective. Every collector has their own opinion and no two collectors will ever agree on the exact grading of a particular marble.Collectors use interchangeably a descriptive grading system (Mint, Near Mint, Good,Collectible), and a numerical grading system based on a scale of 1 to 10.
</p>

<br><br>
 
<img src="http://www.marblecollecting.com/s/cc_images/cache_3366096504.jpg?t=1344344511" class="pull-left" id="image_6911061504" alt="" style="width:10%"/><br><br>

<p>
Mint: A marble that is in original condition.The surface is unmarked and undamaged. There may be some minor rubbing on the surface, however, the marble is the way it came from the factory.(10.0-9.0).
</p>

<br><br>

<img src="http://www.marblecollecting.com/s/cc_images/cache_3366095704.jpg?t=1344344474" class="pull-left" id="image_6911061504" alt="" style="width:10%"/><br> <br>

<p>
Near Mint: A marble that has seen minor usage. There may be evidence of hit marks, usually tiny to small subsurface moons, pinprick chips, tiny to small flakes or tiny to small bruises. The damage does not detract from viewing the marble. If there is noticeable damage, then it is on only one side of the marble and the other side is Mint. (8.9-8.0)
</p>
 
<br><br>

<img src="http://www.marblecollecting.com/s/cc_images/cache_3366101004.jpg?t=1344344822" class="pull-left" id="image_6911061504" alt="" style="width:10%"/><br><br>

<p>
Good: A marble that has seen usage. It will have numerous hit marks, subsurface moons, chips, flakes or bruises. The core can still be seen clearly, but the marble has obviously been used. If the damage is large or deep, then it is confined to one side and the other side is Mint to Near Mint. (7.9-7.0).
</p>
 
<br> <br>

<img src="http://www.marblecollecting.com/s/cc_images/cache_3366103704.jpg?t=1344344952" class="pull-left" id="image_6911061504" alt="" style="width:10%"/><br><br>

<p>
Collectible: A marble that has seen significant usage. Overall moons, chips, flakes, and bruises. The core is completely obscured in some spots. A Collectible marble has served its functional purpose and been well used. Still, it is a placeholder in a collection until a better example comes along. (6.9-0.0).
Any damage to the surface of a marble, no matter how slight, will affect its value. For a given amount of damage, the depreciation of value is much greater for machine-made marbles than for handmade marbles. Even a small chip will effectively reduce the value of a machine-made marble by more than half. Collectors tend to be more forgiving of damage to a handmade marble, perhaps because handmade marbles are more difficult to find. Some collectors use a 10x loupe to look for damage when grading marble. It is impossible to find any marble that does not have some mark on it under a 10x loupe. Every marble has rubbed against something. You will never find a handmade or machine made marble that can grade as a 10.</p>

<br><br>

<p>
Damaged marbles will occasionally be buffed or polished by a collector or dealer to enhance its appearance.
</p>

<br><br>

<img src="http://www.marblecollecting.com/s/cc_images/cache_3366113404.jpg?t=1344345283" class="pull-left" id="image_6911061504" alt="" style="width:15%"/><br><br>

<p>
Buffing is the process of rubbing a mild abrasive compound or material against the surface of the marble to remove surface imperfections, usually light haze or tiny pits. Because so little glass is removed, usually the pontil will be partially or completely intact on a handmade marble. Buffing can be detected as a “slippery” feel to the surface. In addition, because only a very thin layer of glass is removed, damage and defects usually remain (see red arrows in the image). The tiny marks left by the grain of the wood cup (for a handmade) or by the rollers of the machine (for a machine-made) are missing.
</p>

<br><br>

<img src="http://www.marblecollecting.com/s/cc_images/cache_3366114404.jpg?t=1344345395" class="pull-left" id="image_6911061504" alt="" style="width:15%"/><br><br>

<p>
A polished marble is similar to a buffed marble, but a lot more glass has been removed. The pontil of a polished handmade marble is usually missing. Typically, the damage to the marble was on the sides, not the top or bottom. Glass must be removed from the top and bottom to keep the marble spherical. As a result, the pontils are missing and the ends are opened up (see the red arrows in the image). In many instances, buffing or polishing a machine-made marble will remove the very top layer of glass, exposing tiny air bubbles and also changing the hue of the glass. In some cases, the heat of the process will subtly change the color of the glass.
</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

© 1995-2014 Robert S. Block