// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
   background-image: url("/assets/marble_logo.jpg");
   background-size: 25% auto;
   background-repeat: no-repeat;
   background-attachment: scroll;
    
    background-position: 900px 50px; 



    
}



